<%- include('header.ejs', {titleWeb: "Success"}) %>
<a href="/" class="link">Go Back</a>
<p class="text">Welcome <%= user %> , You are logged in.</p>
<img src="/img/welcome.jpg" alt="">
<%- include('footer.ejs') %>